body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#initialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#initialTitle {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

#subTitle {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 40px;
}

#testVolume {
    background-color: #FF6347;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

#testVolume:hover {
    background-color: #FF4500;
}

#volumeSlider {
    width: 150px;
    margin-bottom: 10px;
}

#volumeNotice {
    font-size: 0.8em;
    color: #555;
    margin-top: -10px;
    margin-bottom: 20px;
}

#gameTitle {
    font-size: 3em;
    color: #333;
    margin-top: 20px;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#roundInfo {
    font-size: 2em;
    color: #333;
    margin-top: 20px;
}

#songControls {
    margin-top: 30px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.button:hover {
    background-color: #45a049;
}

#progressContainer {
    width: 100%;
    background-color: #ddd;
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
}

#progressBar {
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
}

#guess {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}

#submitGuess {
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

#submitGuess:hover {
    background-color: #007bb5;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

#gameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#gameOverText {
    font-size: 3em;
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
}

#newGame {
    margin-top: 20px;
}

#scoreboard {
    margin-top: 30px;
    font-size: 1.5em;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin: 20px;
}

button {
    cursor: pointer;
}
